<section id="portfolio" class="site-section section-portfolio">
    <div class="container">
      <div class="text-center">
        <h3>Mis Proyectos</h3>
        <img src="assets/img/lines.svg" class="img-lines" alt="lines">
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-6 portfolio-item-container" *ngFor="let proyecto of persona.proyectos; let i = index;">
          <div class="portfolio-item">
            <img src="{{proyecto.imagen}}" class="img-res" alt="">
            <div class="portfolio-item-info">
              <h4>{{proyecto.nombreProyecto}}</h4>
              <a href="#" (click)="openModal('portfolioItem' + (i + 1), proyecto)" data-toggle="modal" [attr.data-target]="'#portfolioItem' + (i + 1)">
                <span class="glyphicon glyphicon-eye-open"></span>
              </a>
              <a href="#"><span class="glyphicon glyphicon-link"></span></a>
            </div><!-- /.portfolio-item-info -->
          </div><!-- /.portfolio-item -->
  
          <!-- Modal -->
          <div id="portfolioItem{{i + 1}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                  <img class="img-res" src="{{proyecto.imagen}}" alt="">
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">{{proyecto.nombreProyecto}}</h4>
                  <p>{{proyecto.descripcion}}</p>
                  <p><strong>Fecha de Inicio:</strong> {{proyecto.fechaInicio}}</p>
                  <p><strong>Fecha de Fin:</strong> {{proyecto.fechaFin}}</p>
                </div>
                <div class="modal-footer">
                  <ng-container *ngIf="proyecto.urlDeploy === 'Aún no se hizo el deploy'; else elseBlock">
                    <a href="{{ proyecto.urlRepo }}" class="btn btn-fill">Ver Reporitorio</a>
                  </ng-container>
                  <ng-template #elseBlock>
                    <a href="{{ proyecto.urlDeploy }}" class="btn btn-fill">Ver Página</a>
                    <a href="{{ proyecto.urlRepo }}" class="btn btn-fill">Ver Repositorio</a>
                  </ng-template>
                </div>
                
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </div>
    </div>
  </section><!-- /.section-portfolio -->
  