<main id="main" class="site-main">
<section id="about" class="site-section section-about text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Sobre Mí</h2>
                <img src="assets/img/lines.svg" class="img-lines" alt="lines">
                <p>¡Hola! Soy Lucila, una Desarrolladora Fullstack Java y una chica ligeramente obsesionada por la calidad del código. Actualmente estoy disponible para trabajos como freelancer, aunque también me encuentro en busca activa de trabajo en relación de dependencia. Si tienes un proyecto que quieres comenzar o crees que necesitas mi ayuda con algo, ponte en contacto conmigo.</p>
                <a href="http://www.grad.illinois.edu/sites/default/files/pdfs/cvsamples.pdf" class="btn btn-fill" target="_blank" download>Descarga mi cv</a>
            </div>
        </div>
    </div>
</section><!-- /.secton-about -->
</main>