<section id="login" class="site-section section-form text-center">
    <div class="container">

        <h3>Iniciar Sesión</h3>
        <img src="assets/img/lines.svg" class="img-lines" alt="lines">
        <form novalidate>
            <div class="row">
                <div class="col-sm-6">
                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control" placeholder="Email" required >   
                </div>
                <div class="col-sm-6">
                    <input type="password" id="contrasena" name="name" class="form-control mt-x-0" placeholder="Contraseña" required>
                </div>
            </div>
            <button href="#" class="btn btn-border" type="submit">Iniciar Sesión<span class="glyphicon glyphicon-send"></span></button>
        </form>
    </div>
</section><!-- /.section-form -->


