
<section id="service" class="site-section section-services overlay text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>¿Qué hago?</h3>
                <img src="assets/img/lines.svg" class="img-lines" alt="lines">
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="assets/img/front-end.svg" alt="Front End Developer">
                    <h4>Front-end</h4>
                    <p>Como desarrolladora Fullstack, tengo experiencia en técnicas de HTML5 y CSS3 trabajando con Bootstrap o frameworks de JavaScript MVC más avanzados como Angular o Vue.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="assets/img/back-end.svg" alt="Back End Developer">
                    <h4>Back-end</h4>
                    <p>Utilizando frameworks como Spring con Jaba, he realizado proyectos desafiantes e interesantes, como por ejemplo un Homebanking o un E-Commerce, incluyendo APIs REST y uso de bases de datos relacionales como PostgreSQL.</p>
                </div><!-- /.service -->
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="assets/img/consultancy.svg" alt="Coding">
                    <h4>Consultoría</h4>
                    <p>Además de ofrecer servicios de desarrollo, también puedo ayudarte a tomar decisiones estratégicas mediante servicios de consultoría.</p>
                </div><!-- /.service -->
            </div>
        </div>
    </div>
</section><!-- /.secton-services -->
