<div id="hero" class="hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h1>Lucila Alochis</h1>
                <div class="page-scroll">
                    <p class="job-title">Full Stack Developer Java</p>
                    <a href="#contact" class="btn btn-fill ">Contrátame</a>
                    <div class="clearfix visible-xxs"></div>
                    <a href="#portfolio" class="btn btn-border">Conóceme</a>
                </div>
            </div>
        
            <div class="col-md-6 text-right imagen">
                <img src="assets/img/lucila.png" alt="lucila-alochis">
            </div>

        </div>
    </div>
</div><!-- /.hero -->
